<%= extend('../layout/control-layout') %>

    <div class="row justify-content-center">
      <div class="col-sm-6">
          <% if (hasErrors) { %>
            <% for (var prop in messages) { %>
              <div class="alert alert-warning">
                <%- messages[prop] %>
              </div>
            <% } %>
          <% } %>
        <form method="POST" action="/sign/signup">
          <input type="text" class="d-none" id="userID" name="userID">
          <div class="form-group">
            <label for="account">帳號</label>
            <input type="text" class="form-control" id="account" name="account" placeholder="請輸入帳號" required>
          </div>
          <div class="form-group">
            <label for="password">密碼</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="請輸入密碼" required>
          </div>
          <div class="form-group">
            <label for="confirm_password">確認密碼</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="確認密碼" required>
          </div>
          <div class="text-right mt-3">
            <button type="submit" class="btn btn-primary">送出</button>
          </div>
        </form>
      </div>
    </div>

    <script>
    </script>