<% extend('./layout/layout')%>

<div class="hex-blog">
  <div class="row justify-content-center">
    <div class="col-md-9">
       <h1><%- title %></h1>
       <a href="/">回到首頁</a>
    </div>
  </div>

</div>
